/** {
	border: 1px solid red;
}*/

/* This is setting up the website's general settings */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

/* This is the header */
header {
	background-color: #404041;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', serif;
	height: 135px;
	justify-content: center;
	line-height: 350%;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

header > h1 {
	color: #DD1972;
	font-size: 60px;
	font-weight: 300;
	margin: 0;
	padding: 20px;
}

header > p {
	color: white;
	font-size: 20px;
	font-weight: 300;
	margin-top: -25px;
}

header span {
	position: relative;
	bottom: 8px;
}

.line-left {
	right: 10px;
}

.line-right {
	left: 10px;
}

/* This is the main area, these settings tell section right & left to center */
main {
	display: flex;
	justify-content: center;
}

.section-left {
	align-items: center;
	background-color: #F7F7F7;
	border-left: solid 2px #6E6E6E;
	border-right: solid 1px #6E6E6E;
	display: flex;
	flex-direction: column;
	height: 900px;
	max-width: 550px;
	width: 50%;
}

.section-right {
	align-items: center;
	background-color: #D0D2D3;
	border-left: solid 1px #6E6E6E;
	border-right: solid 2px #6E6E6E;
	display: flex;
	flex-direction: column;
	height: 900px;
	max-width: 550px;
	width: 50%;
}

/* These are general settings for all of the article cards on the right & left side */
article {
	background-color: white;
	margin-top: 18px;
}

.article-left {
	border-radius: 1px;
	border: solid 2px #D0D2D3;
	height: 120px;
	width: 93%;
}

.article-right {
	align-items: center;
	border-radius: 1px;
	border: solid 2px darkgray;
	display: flex;
	flex-direction: column;
	height: 190px;
	width: 85%;
}

/* Here are the settings for the card that will appear on the right side and will replicate with every score (divided into: header, article, & footer) */
.article-right header {
	align-items: center;
	background-color: white;
	border-bottom: solid 2px #D0D2D3;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: space-around;
	width: 95%;
}

.article-right header p {
	color: gray;
	font-size: 15px;
	margin: 0;
}

.article-right article {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 110px;
	justify-content: center;
	margin: 0;
	width: 95%;
}

.article-right h3 {
	color: gray;
	font-size: 33px;
	margin: 0;
}

.article-right h4 {
	color: gray;
	font-size: 28px;
	font-weight: 300;
	margin: 0;
}

.article-right footer {
	align-items: center;
	border-top: solid 2px #D0D2D3;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: space-between;
	margin: 0;
	width: 95%;
}

.minute-count {
	color: gray;
	display: flex;
	flex-direction: row;
}

.guess-count {
	color: gray;
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}

.cross-icon {
	background-color: gray;
	border-radius: 100%;
	color: white;
	height: 22px;
	margin-right: 6px;
	width: 22px;
	text-align: center;
	color: darkgray;
	font-weight: 700;
}