/** {
	border: 1px solid green;
}*/

/* This is setting up the website's general settings */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

/* This is the header */
.main-header {
	background-color: #404041;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', serif;
	height: 135px;
	justify-content: center;
	line-height: 350%;
	margin: 0 auto;
}

h1 {
  color: #DD1972;
	font-size: 6vw;
	font-weight: 300;
    text-align: center;
}

h2 { 
	color: white;
	font-size: 1.1em;
	font-weight: 300;
	margin: 0;
    text-align: center;
    line-height: 180%;
}

#font-deck {
	position: relative;
	bottom: 8px;
}

h5{
	color: #404041;
	font-size: 18px;
	font-weight: 700;
	height: 25px;
	margin-top: 6px;
}

p {
	color: gray;
	font-size: 15px;
	font-weight: 300;
}

form {
	color: gray;
	height: 3vw;
}


/* This is the main area, these settings tell section right & left to center */
main {
	display: flex;
	justify-content: center;
}

.section-left {
	align-items: center;
	background-color: #F7F7F7;
	border-left: solid 2px #6E6E6E;
	border-right: solid 1px #6E6E6E;
	border-bottom: solid 2px #6E6E6E;
	display: flex;
	flex-direction: column;
	height: 800px;
	width: 50%;
}

.section-right {
	align-items: center;
	background-color: #D0D2D3;
	border-left: solid 1px #6E6E6E;
	border-right: solid 2px #6E6E6E;
	border-bottom: solid 2px #6E6E6E;
	display: flex;
	flex-direction: column;
	height: 800px;
	width: 50%;
}

/* Set-range article box */
#set-range {
	
	height: 125px;
}

#set-range header {
	/*height: 40px;*/
	width: 95%;
	margin-left: 1em;
	color: black;
}

#set-range section {
	/*display: flex;*/
	width: 100%;
	margin: .75em;
	/*padding: 2em;*/
	/*margin-top: 35px;*/
}

#set-range form {
	/*width: 100%;*/
	height: 150px;
}

#set-range input {
	width: 30%;
}

/* Current Range section */
#current-range {
	/*display: flex;
	flex-direction: column;
	align-items: center;*/
	height: 450px;
	padding-left: 8px;
}

#current-range p {
	margin-top: 10px;
	display: inline-block;
}

/*#current-range p,*/
#current-range h5,
#current-range form,
#current-range section {
	width: 95%;
	margin-top: 7px;
}

#current-range h5 {
}

#current-range form {
	/*display: flex;
	flex-direction: row;*/
	height: 130px;
}

#current-range section {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

#current-range button {
	display: flex;
	justify-content: space-around;
	background-color: gray;
	height: 35px;
	width: 120px;
	color: white;
	font-size: 14px;
	font-weight: 700;
	border-radius: 20px;
	margin: 5px;
}

.updateRange {
	background-color: gray;
	height: 32px;
	width: 20%;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 20px
}

input {
	height: 35px;
	border: solid 2px lightgray;
	border-radius: 2px;
}

#player-one {
	height: 100px;
}

#player-two {
	height: 125px;
}

#player-one p {
	display: inline-block;
}

#input-name-one {
	width: 55%;
	margin-left: 7px;
	display: inline-block;
}

#input-name-two {
	width: 55%;
	margin-left: 7px;
	display: inline-block;
}

#input-name-p {
	margin-left: 15px;
}

#input-name-g {
	margin-left: 275px;
}

#input-name-two {
    width: 55%;
	margin-left: 7px;
	display: inline-block;
}

#input-guess-one {
	width: 40%;
	margin-left: 10px;
	display: inline-block;
}

#input-guess-two {
	width: 40%;
	margin-left: 10px;
	display: inline-block;
}


/* These are general settings for all of the article cards on the right & left side */
article {
	background-color: white;
	margin-top: 18px;
}

.article-left {
	border-radius: 1px;
	border: solid 2px #D0D2D3;
	height: 130px;
	width: 93%;
}

.article-right {
	/*align-items: center;*/
	border-radius: 1px;
	border: solid 2px darkgray;
	display: flex;
	flex-direction: column;
	height: 190px;
	width: 85%;
}

/* Here are the settings for the card that will appear on the right side and will replicate with every score (divided into: header, article, & footer) */
.article-right header {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: space-evenly;
	/*width: 95%;*/
}

.article-right header p {
	color: gray;
	font-size: 15px;
	margin: 0;
}

.article-right strong {
	color: gray;
	font-size: 1em;
	margin: 0;
}

.article-right article {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 110px;
	justify-content: center;
	margin: 0;
	width: 88%;
	border-bottom: solid 2px #D0D2D3;
	border-top: solid 2px #D0D2D3;
}

.article-right h3 {
	color: gray;
	font-size: 2vw;
	margin: 0;
}

.article-right article h3 {
	font-size: 3vw;
	margin-left: auto;
	/*margin-right: auto;*/
}

.article-right h4 {
	color: gray;
	font-size: 3vw;
	font-weight: 300;
	margin: 0;
}

.article-right footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: space-between;
	margin: 0;
	width: 90%;
}

.minute-count {
	color: gray;
	display: flex;
	flex-direction: row;
	margin-left: 10%;
}

.guess-count {
	color: gray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 20%;
}

.x-icon {
	border-radius: 100%;
	height: 22px;
}

/* Latest-score card*/

#latest-score * {
	padding: 0;
}

#latest-score {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 225px;
}

.score-header {
	display: flex;
	justify-content: flex-start;
	width: 95%;
	height: 25px;
}

.main-score {
	display: flex;
	flex-direction: row;
	width: 95%;
	height: 140px;
}

.main-score article {
	display: flex;
	width: 50%;
	flex-direction: column;
	align-items: center;
	/*justify-content: center;*/
}

.main-score-left {
	border-right: solid 1px lightgray;
}

.main-score-right {
	border-left: solid 1px lightgray;
}

.minUser,
.maxUser {
	color: #404041;
	text-decoration: underline;
}

#minRange {
	/*margin-left: 20px;
    margin-right: 20px;*/
}

#maxRange {
	margin-left: 20px;
    margin-right: 30px;
}

#minRangeP {
	/*width: 250px;*/
}

#minRangeP {
	/*margin-left: 36px;*/
    width: 30%;
    display: inline-block;
	/*margin-bottom: 50px;*/	
}

#maxRangeP {
	margin-bottom: 5px;
	margin-left: 27px;
	width: 200px;
	display: inline-block;
	/*margin-bottom: 50px;*/
}

/*#button-section {
	width: 50%;
	position: absolute;
	margin-top: 300px;
}*/

#player-name-one {
}

button:hover,
#submit-guess-button:hover,
#reset-button:hover,
#clear-button:hover {
	background-color: #DD1972;
}

button:disabled,
#reset-button:disabled,
#clear-button:disabled {
	background-color: #D0D2D3;
}


/*Media Query section*/

@media screen and (max-width:959px) {
	header {
		width: 100%;
	}
	header h1 {
		/*font-size: 7vw;*/
	}
	header p {
		font-size: 2vw;
	}	
	.section-left {
		width: 50%;
	}
	.section-right {
		width: 50%;
	}
	.article-left {
		width: 90%;
	}
	.article-right {
		width: 90%;
	}
	.article-right header {
		width: 91%;
	}
	.article-right footer {
		width: 90%;
	}
	.article-right h3 {
		font-size: 1vw;
	}
	.article-right h4 {
		font-size: 2vw;
	}
	.article-right article {
		width: 91%;
	}
}

@media screen and (max-width:640px) {

	main {

		flex-direction: column;
	}

	header {
		width: 100%;
	}

	.section-left {
		width: 100%;
	}

	.article-left {
		width: 90%;
	}

	.section-right {
		width: 100%;
	}	

	.article-right {
		width: 90%;
	}

	.article-right article {
		width: 91%;
	}

	.article-right article h3 {
    font-size: 6vw;
}

	header h1 {
		font-size: 7vw;
		/*line-height: 48%;*/
		/*font-size: 40pt;*/
	}

	header p {
		font-size: 3vw;
	}
	
}
