/** {
	border: 1px solid green;
}*/

/* This is setting up the website's general settings */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

/* This is the header */
.main-header {
	background-color: #404041;
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', serif;
	height: 135px;
	justify-content: center;
	line-height: 350%;
	margin: 0 auto;
}

header h1 {
  color: #DD1972;
	font-size: 7vw;
	font-weight: 300;
	margin: .25em;
  text-align: center;
}

h2 { 
	color: white;
	font-size: 2vw;
	font-weight: 300;
	margin: 0;
  text-align: center;
  line-height: 100%;
}

#font-deck {
	position: relative;
	bottom: 8px;
}

h5{
	color: gray;
	font-size: 2vw;
	font-weight: 700;
	height: 25px;

}

p {
	color: gray;
	font-size: 2vw;
	font-weight: 300;
}

form {
	color: gray;
	height: 3vw;
}

#set-range input {
	width: 130%;
}

/* This is the main area, these settings tell section right & left to center */
main {
	display: flex;
	justify-content: center;
}

.section-left {
	align-items: center;
	background-color: #F7F7F7;
	border-left: solid 2px #6E6E6E;
	border-right: solid 1px #6E6E6E;
	display: flex;
	flex-direction: column;
	height: 675px;
	width: 50%;
}

.section-right {
	align-items: center;
	background-color: #D0D2D3;
	border-left: solid 1px #6E6E6E;
	border-right: solid 2px #6E6E6E;
	display: flex;
	flex-direction: column;
	height: 675px;
	width: 50%;
}

/* Set-range article box */
#set-range {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 120px;
}

#set-range header {
	height: 40px;
	width: 95%;
	justify-content: flex-start;
	display: flex;
	color: black;
	align-items: center;
}

#set-range section {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	height: 80px;
	width: 95%;
}

#set-range form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 60px;
	align-items: flex-end;
}

/* Current Range section */
#current-range {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 330px;
}

#current-range p,
#current-range h5,
#current-range form,
#current-range section {
	width: 95%;
	margin-top: 12px;
}

#current-range h5 {
}

#current-range form {
	display: flex;
	flex-direction: row;
}

#latest-score {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 200px;
}

#current-range section {
	display: flex;
	justify-content: space-between;
}

#current-range button {
	background-color: gray;
	height: 35px;
	width: 32%;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 20px
}

.submit-button {
	background-color: gray;
	height: 35px;
	width: 110px;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 20px
}

input {
	height: 35px;
	border: solid 2px lightgray;
	border-radius: 2px;
}

/* These are general settings for all of the article cards on the right & left side */
article {
	background-color: white;
	margin-top: 18px;
}

.article-left {
	border-radius: 1px;
	border: solid 2px #D0D2D3;
	height: 130px;
	width: 93%;
}

.article-right {
	align-items: center;
	border-radius: 1px;
	border: solid 2px darkgray;
	display: flex;
	flex-direction: column;
	height: 190px;
	width: 85%;
}

/* Here are the settings for the card that will appear on the right side and will replicate with every score (divided into: header, article, & footer) */
.article-right header {
	align-items: center;
	background-color: white;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: space-evenly;
	/*width: 95%;*/
}

.article-right header p {
	color: gray;
	font-size: 15px;
	margin: 0;
}

.article-right strong {
	color: gray;
	font-size: 1em;
	margin: 0;
}

.article-right article {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 110px;
	justify-content: center;
	margin: 0;
	width: 88%;
	border-bottom: solid 2px #D0D2D3;
	border-top: solid 2px #D0D2D3;
}

.article-right h3 {
	color: gray;
	font-size: 2vw;
	margin: 0;
}

.article-right article h3 {
	font-size: 3vw;
}

.article-right h4 {
	color: gray;
	font-size: 3vw;
	font-weight: 300;
	margin: 0;
}

.article-right footer {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 40px;
	justify-content: space-between;
	margin: 0;
	/*width: 90%;*/
}

.minute-count {
	color: gray;
	display: flex;
	flex-direction: row;
}

.guess-count {
	color: gray;
	display: flex;
	flex-direction: row;
	margin-right: 10px;
}

.x-icon {
	border-radius: 100%;
	height: 22px;
}

/*Media Query section*/

@media screen and (max-width:959px) {
	header {
		width: 100%;
	}
	header h1 {
		/*font-size: 7vw;*/
	}
	header p {
		font-size: 2vw;
	}	
	.section-left {
		width: 50%;
	}
	.section-right {
		width: 50%;
	}
	.article-left {
		width: 90%;
	}
	.article-right {
		width: 90%;
	}
	.article-right header {
		width: 91%;
	}
	.article-right footer {
		width: 90%;
	}
	.article-right h3 {
		font-size: 1vw;
	}
	.article-right h4 {
		font-size: 2vw;
	}
	.article-right article {
		width: 91%;
	}
}

@media screen and (max-width:640px) {

	main {

		flex-direction: column;
	}

	header {
		width: 100%;
	}

	.section-left {
		width: 100%;
	}

	.article-left {
		width: 90%;
	}

	.section-right {
		width: 100%;
	}	

	.article-right {
		width: 90%;
	}

	.article-right article {
		width: 91%;
	}

	.article-right article h3 {
    font-size: 6vw;
}

	header h1 {
		font-size: 8vw;
		/*line-height: 48%;*/
		/*font-size: 40pt;*/
	}

	header p {
		font-size: 3vw;
	}
	
}